@import "styles/variables.scss";

.about-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.interest-grid {
  animation: fadein 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.skill-grid {
  animation: fadein 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

h3 {
  color: $primary-brown-1;
  display: inline;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadein 2s;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;

  .image {
    width: 360px;
    height: 520px;
  }
}

.about-container {
  width: 35rem;
  padding: 1rem 0 1rem 0;

  .university-text {
    display: inline;
    color: $primary-brown-1;
    font-weight: $font-semibold;
  }
}

@media (max-width: 959px) {
  .info-container {
    align-items: center;
    text-align: center;
  }

  .about-container {
    width: 24rem;
  }

  .grid {
    flex-direction: column;
    padding-bottom: 1rem;
    height: 54rem;
    justify-content: space-evenly;
  }
}
