@import "styles/variables.scss";

.education-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  @keyframes slideleft {
    from {
      width: 0;
    }

    to {
    }
  }

  .main {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      color: $primary-orange-1;
    }

    .image {
      width: 10rem;
      height: 4rem;
    }

    .grid-container {
      width: 60%;
      margin-bottom: 1rem;

      .module-card-container {
        animation: slideleft 2s forwards;
        animation-fill-mode: both;
      }
    }
  }
}

@media (max-width: 959px) {
  .grid {
    flex-direction: column;
    padding-bottom: 1rem;
    height: 54rem;
    justify-content: space-evenly;
  }
}
