@import "styles/variables.scss";

.toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 9vh;
  background-color: $primary-white-1;

  a {
    color: $primary-black-1;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;

    .toolbar__left-icon {
      padding: 0 3rem;

      a:hover {
        color: $primary-brown-1;
      }
    }

    .toolbar__left-icon-active {
      p {
        border-bottom: 2px solid $primary-brown-1;
      }
    }

    .toolbar__logo-about {
      p {
        color: $primary-brown-1;
        font-weight: $font-semibold;
      }
    }

    .toolbar__logo-contact {
      p {
        color: $primary-blue-1;
        font-weight: $font-semibold;
      }
    }
  }

  .toolbar_navigation-items {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      .contact {
        a:hover {
          color: $primary-blue-1;
        }
      }

      li {
        padding: 0 1.8rem;

        .contact-link {
          p {
            border-bottom: 2px solid $primary-blue-1;
          }
        }
      }
    }
  }
}

@media (max-width: 959px) {
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar__left-icon {
    display: none;
  }
}

@media (min-width: 959px) {
  .toolbar__toggle-button {
    display: none;
  }
}
