@import "styles/variables.scss";

.carousel-container {
  width: 17rem;
  height: 100%;

  .swapit-poster {
    width: 17rem;
    height: 34rem;
  }

  .image {
    // width: 16rem;
    height: 34rem;
  }

  .image-cover {
    // width: 22rem;
    height: 34rem;
  }

  .icon:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}

