@import "styles/variables.scss";

.image {
  background-color: 'white';
  width: 500;
}

.footer {
  background-color: $primary-black-1;
  width: 100%;
  color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;

  .icon-container {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    padding-right: 5rem;

    .icon {
      font-size: 1.5rem;
    }

    .icon:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
    }
  }
}

@media (max-width: 959px) {
  .footer {
    justify-content: center;

    .icon-container {
      padding-right: 0rem;
    }
  }
}
