@import "styles/variables.scss";

.footer {
  background-color: $primary-black-1;
  width: 100%;
  color: white;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;

  .icon-container {
    display: flex;
    justify-content: space-between;
    width: 10rem;
    padding-right: 5rem;

    .icon-about {
      font-size: 2rem;
    }

    .icon-about:hover {
      color: $primary-brown-1;
    }

    .icon-contact {
      font-size: 2rem;
    }

    .icon-contact:hover {
      color: $primary-blue-1;
    }
  }
}

@media (max-width: 959px) {
  .footer {
    justify-content: center;

    .icon-container {
      padding-right: 0rem;
    }
  }
}
